#container
{
	width: 80%;
}

#content 
{
	margin-left: 20%;
	width: 80%;
}

#menu 
{
	float: left;
	width: 20%;
}

#footer 
{
	clear: both;
	text-align: center;
}

#header 
{
	text-align: center;
}

ul li
{
	list-style: none;
}

h1
{
	margin-bottom:0;
}
