<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
	<head>
		<title>Tv Program database</title>
		<link rel="stylesheet" href="{{ asset('bundles/tvdatabasehome/css/index.css') }}" />
		{% block stylesheets %}
		{% endblock %}
		<script type="text/javascript" src="{{ asset('bundles/tvdatabasehome/javascript/main.js') }}"></script>
		{% block script %}
		{% endblock %}
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>Tv Program Schedule Database</h1>
			</div>
			<div id="menu">
				<div id="menuitems">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/tvstations">Tv Stations</a></li>
						<li><a href="/advancedsearch">Advanced Search</a></li>
					</ul>
				</div>
			</div>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
			<div id="footer">
				Praksa2012
			</div>
		</div>
	</body>
</html>

