{% extends '::base.html.twig' %}

{% block stylesheets %}


{% endblock %}

{% block script %}

{% endblock %}

{% block mainmany %}
	<li><a href="/">Home</a></li>
	<li><a href="/tvstations">Tv Stations</a></li>
	<li class="current_page_item" ><a href="/advancedsearch">Advanced Search</a></li>
{% endblock %}

{% block content %} 

	response

{% endblock %}


