{% extends '::base.html.twig' %}

{% block mainmany %}
	<li class="current_page_item" ><a href="/{{ _locale }}">Home</a></li>
	<li><a href="/{{ _locale }}/tvstations">Tv Stations</a></li>
	<li><a href="/{{ _locale }}/advancedsearch">Advanced Search</a></li>
	<li><a href="/{{ _locale }}/search">{% trans %}Search{% endtrans %}</a></li>
{% endblock %}

{% block content %} 

	program

{% endblock %}


