<table>
	<tr>
		<th>{% trans %} TV {% endtrans %}</th>
		<th>{% trans %} Time {% endtrans %}</th>
		<th>{% trans %} Broadcast {% endtrans %}</th>
	</tr>
{% for result in results %}
	<tr> 
		<td>{{ result.tv.TvName }}</td>
		<td>{{ result.datetime.format('H:i') }}</td>
		<td>{% for attribute in result.attributes %}
					{% if attribute.AttributeId == 7 and attribute.AttributeSetId == 1 %} 
						{{ attribute.Value }} 
					{% endif %}
				{% endfor %}
		</td>
	</tr>
{% endfor %}
</table>