<form action="{{ path('register_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    
    <label for="password">Retype password:</label>
    <input type="password" id="againpassword" name="_againpassword" />
    
    <label for="password">Email:</label>
    <input type="password" id="email" name="_email" />

    <button type="submit">register</button>
</form>